@charset "UTF-8";
*{margin: 0;padding: 0;}
body{width: 100vw;height: 100vh;
    background-image: url(../pacote-d013/imagens/fundo-madeira.jpg);
    background-size: cover;position: absolute;background-position: top center;}

main{position: relative;height: 100vh;}

#phone {
    background-image: url(../pacote-d013/imagens/frame-iphone.png);
    position: absolute;
    top:50%;
    left: 50%;
   height: 520px;
   width: 300px;
   background-position: center;
   background-repeat: no-repeat;background-size: contain;
    transform: translate(-50%, -50%);
    }

   
        
        
        section>iframe
        {    height: 392px;
            width: 222px;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
           
            }
    section#sr{
    position: absolute;
    left: 80vw;
    top: 10vw;
    margin: 10px;
    text-align: right;
    }

    img.ir{width: 50px;
        margin-bottom: 10px;
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.418);
        box-sizing: border-box;}
    
        img.ir:hover{border: 2px solid rgba(255, 255, 255, 0.452);
        transform: translate(-10px,-10px);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.493);
    transition: transform 1s, border 0.5s;}